*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Titillium";
}

header{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    align-items: center;
    padding: 8px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

li,a,button{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

nav ul li{
    display: inline-block;
    padding: 0px 40px;
}

nav ul li a{
    transition: all 0.3s ease 0s;
}

nav ul li a:hover{
    color: black;
    transition: all 0.3s ease 0s;
}

header > button {
    padding: 5px 25px;
    background-color: firebrick;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease 0s;
}

header > button:hover{
    background-color: darkred;
}

/*wrapper*/
.wrapper{
    background: url(../img/bg.jpg) no-repeat center center / cover;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1; 
}

.wrapper:before {
    position: absolute;
    content: '';
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/*content*/
.content{
    display: flex;
    padding: 80px 10%;
    justify-content: space-between;
    color: white;
}

.my-info h1{
    font-size: 50px;

}

.my-info p{
    margin: 30px 0;
    font-size: 20px;
    font-family: 400;
    line-height: 2;
}
.btn{
    margin-top: 10px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-outline {
    border-radius: 30px;
    color: #ffffff;
    border-color: #ffffff;
    padding: 12px 30px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-outline:hover {
    background: #ffffff;
    color: #6730e3;
}

.social-links{
    padding: 20px;
    margin-top: 130px;
}

.social-links ul {

    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.btn-social{
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
}
.bg-facebook{
    background-color: #4267b2;
}
.bg-instagram{
    background-color: #c13584;
}